<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <p>The .table class adds basic styling (light padding and horizontal dividers) to a table:</p>
    <a href="/add" class="btn btn-success" role="button">Add record</a>
    <a href="/delete" class="btn btn-danger" role="button">Delete record</a>
 									<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">

                                        <thead>
											<tr>
												<th>Входящий порт</th>
												<th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</thead>
										<tbody>
                                        {% block content %}
                                        {% for proxy in query_result %}
											<tr>
												<td>{{ proxy.proxy_port_in }}</td>
												<td>{{ proxy.proxy_name }}</td>
												<td>{{ proxy.fp_name }}</td>
												<td>{{ proxy.project }}</td>
												<td>{{ proxy.author }}</td>
												<td>{{ proxy.proxy_port_out }}</td>
												<td>{{ proxy.stop_date }}</td>
												<td>{{ proxy.start_date }}</td>
												<td>{{ proxy.status }}</td>
                                                <td>
                                                 <a href="/command/{{ proxy.id }}" class="btn btn-danger" role="button">DELETE</a>
												</td>
											</tr>
                                        {% endfor %}
                                    {% endblock %}
										</tbody>
										<tfoot>
											<tr>
												<th>Входящий порт</th>
                                                <th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</tfoot>

									</table>


</div>
<div>



</div>
</body>
</html>
