<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <link rel="stylesheet"  href="/static/style.css">
  <script src="static/app.js"></script>
</head>
<body>

<div class="container" style="width: 100%; max-width: 100%">

<center class="button">
    <a href="/add" class="btn btn-success" role="button">Add record</a>
    <a href="/delete" class="btn btn-danger" role="button">Delete record</a>
</center>

 									<table class="table table-striped- table-bordered table-hover table-checkable" id="index-table">

                                        <thead>
											<tr>
												<th>Входящий порт</th>
												<th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</thead>
										<tbody>
                                        {% block content %}
                                        {% for proxy in query_result %}
											<tr>
												<td>{{ proxy.proxy_port_in }}</td>
												<td>{{ proxy.proxy_name }}</td>
												<td>{{ proxy.fp_name }}</td>
												<td>{{ proxy.project }}</td>
												<td>{{ proxy.author }}</td>
												<td>{{ proxy.proxy_port_out }}</td>
												<td>{{ proxy.stop_date }}</td>
												<td>{{ proxy.start_date }}</td>
												<td>{{ proxy.status }}</td>
                                                <td>
                                                    <div class="btn-group" role="group">
                                                 <a href="/start/{{ proxy.id }}" class="btn-sm btn btn-success"  role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
  <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
</svg></a> <br>
                                                 <a href="/edit/{{ proxy.id }}" class="btn-sm btn btn-warning" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></a> <br>
                                                 <a href="/stop/{{ proxy.id }}" class="btn-sm btn btn-danger" role="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stop-fill" viewBox="0 0 16 16">
  <path d="M5 3.5h6A1.5 1.5 0 0 1 12.5 5v6a1.5 1.5 0 0 1-1.5 1.5H5A1.5 1.5 0 0 1 3.5 11V5A1.5 1.5 0 0 1 5 3.5z"/>
</svg></a>
                                                    </div>
												</td>
											</tr>
                                        {% endfor %}
                                    {% endblock %}
										</tbody>
										<tfoot>
											<tr>
												<th>Входящий порт</th>
                                                <th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</tfoot>

									</table>


</div>
<div>
</div>
</body>
</html>
