<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet"  href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
  <script src="static/app.js"></script>
</head>
<body>

<div class="container">

<center class="button">
    <a href="/add" class="btn btn-success" role="button">Add record</a>
    <a href="/delete" class="btn btn-danger" role="button">Delete record</a>
</center>

 									<table class="table table-striped- table-bordered table-hover table-checkable" id="index-table">

                                        <thead>
											<tr>
												<th>Входящий порт</th>
												<th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</thead>
										<tbody>
                                        {% block content %}
                                        {% for proxy in query_result %}
											<tr>
												<td>{{ proxy.proxy_port_in }}</td>
												<td>{{ proxy.proxy_name }}</td>
												<td>{{ proxy.fp_name }}</td>
												<td>{{ proxy.project }}</td>
												<td>{{ proxy.author }}</td>
												<td>{{ proxy.proxy_port_out }}</td>
												<td>{{ proxy.stop_date }}</td>
												<td>{{ proxy.start_date }}</td>
												<td>{{ proxy.status }}</td>
                                                <td>
                                                 <a href="/start/{{ proxy.id }}" class="btn-sm btn-success" role="button">Start</a> <br>
                                                 <a href="/edit/{{ proxy.id }}" class="btn-sm btn-warning" role="button">Edit</a> <br>
                                                 <a href="/stop/{{ proxy.id }}" class="btn-sm btn-danger" role="button">Stop</a>
												</td>
											</tr>
                                        {% endfor %}
                                    {% endblock %}
										</tbody>
										<tfoot>
											<tr>
												<th>Входящий порт</th>
                                                <th>Имя прокси</th>
												<th>Код подсистемы</th>
												<th>Имя подсистемы</th>
												<th>Автор</th>
												<th>Исходящий порт</th>
												<th>Дата останова</th>
												<th>Дата Старта</th>
												<th>Статус</th>
												<th>Команды</th>
											</tr>
										</tfoot>

									</table>


</div>
<div>
</div>
</body>
</html>
